# Игнорировать все файлы с расширением .log
*.log

# Игнорировать директорию logs/
logs/

# Игнорировать все файлы и директории, начинающиеся с temp
temp*

# Игнорировать файлы конфигурации среды разработки
.vscode/
.idea/
__pycache__/
venv/
.env
test.py
venv
